<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="6.5.1" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.5" targetFramework="xamarinios10" />
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.9" targetFramework="xamarinios10" />
  <package id="DryIoc.dll" version="2.12.5" targetFramework="xamarinios10" />
  <package id="Prism.Core" version="6.3.0" targetFramework="xamarinios10" />
  <package id="Prism.DryIoc.Forms" version="6.3.0.1" targetFramework="xamarinios10" />
  <package id="Prism.Forms" version="6.3.0" targetFramework="xamarinios10" />
  <package id="Splat" version="2.0.0" targetFramework="xamarinios10" />
  <package id="System.Collections" version="4.0.11" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Tools" version="4.0.1" targetFramework="xamarinios10" />
  <package id="System.Linq" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Reflection" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="xamarinios10" />
  <package id="System.Runtime" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Threading" version="4.0.11" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="3.0.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.121934" targetFramework="xamarinios10" />
</packages>